@define-color color_black #282828;
@define-color color_red #cc241d;
@define-color color_green #98971a;
@define-color color_yellow #d79921;
@define-color color_blue #458588;
@define-color color_purple #b16286;
@define-color color_aqua #689d6a;
@define-color color_white #a89984;
@define-color color_lblack #928374;
@define-color color_lred #fb4934;
@define-color color_lgreen #b8bb26;
@define-color color_lyellow #fabd2f;
@define-color color_lblue #83a598;
@define-color color_lpurple #d3869b;
@define-color color_laqua #8ec07c;
@define-color color_lwhite #ebdbb2;

@define-color bg0 #32302f;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color orange #d65d0e;
@define-color fg4 #a89984;
@define-color fg3 #bdae93;
@define-color fg2 #d5c4a1;
@define-color fg1 #ebdbb2;
@define-color fg0 #fbf1c7;
@define-color orange2 #fe8019;


* {
	border: none;
	border-radius: 3px;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: JetBrains Mono;
	font-size: 16px;
	min-height: 0;
	margin: 0.1em 0.2em;
}

window#waybar {
	color: @fg2;
	transition-property: background-color;
	transition-duration: .5s;
	background-color: @bg0;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
}
 */

window#waybar.termite {
	background-color: @bg2;
}

#workspaces button {
	padding: 0 0.1em;
	background-color: @bg1;
	color: @fg2;
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
}

#workspaces button.focused {
	padding: 0 0.1em;
	color: @fg0;
	background-color: @bg4;
	border-bottom: 3px solid @orange2;
	/*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
	padding: 0 5px;
	background-color: @color_red;
}

#mode {
	background-color: @color_yellow;
	border-bottom: 3px solid @color_lwhite;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 10px;
	margin: 0 4px;
	color: @fg0;
	background-color: @bg2;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#clock {
}

#battery {
}

#battery.charging {
	color: @color_green;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: @bg2;
	color: @color_lred;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
	color: @color_red;
}

#pulseaudio {
	color: @fg3;
}
#pulseaudio > big {
	font-size: 4em;
	color: @fg0;
}
#pulseaudio.muted {
	color: @fg4;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
	background-color: @orange2;
}

#tray {
}

#idle_inhibitor {
	color: @fg4;
}

#idle_inhibitor.activated {
	color: @fg0;
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: @bg0;
	background-color: @fg1;
}
